#masthead {
    background: url(../img/johannes-plenio-473709-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: none;
    height: 300px;
}

img.img-responsive {
    width: 100%;
}
