/* custom css */
/* ::-webkit-scrollbar { */
/*     width: 0px; */
/* } */

.default-layout .np-album-detail .segment {
    padding: 0.5rem 0.5rem !important;
}
.default-layout .np-controls {
    padding-top: 0 !important;
}

.default-layout .black-bg {
    background: #000 !important;
}

.default-layout .index-page {
    background-image: url(./johannes-plenio-473709-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    color: wheat;
}
.default-layout .index-page h1,h2,h3,h4 {
    color: wheat;
}

.default-layout .main-content {
    margin-top: 57px;
    padding-top: 15px;
}

.default-layout .album-list,
.default-layout .album-detail,
.default-layout .filter-view {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}

.default-layout .album-list .image {
    margin: 0;
}

.default-layout .current-time {
    font-size: x-large;
}

.default-layout .nodisplay {
    display: none !important;
}

.default-layout .no-padding {
    padding: 0 !important;
}

.default-layout .no-horizontal-padding {
    padding-left: 0;
    padding-right: 0;
}

.default-layout .pointer {
    cursor: pointer;
}

.default-layout .noborder {
    border: none !important;
}

.default-layout .no-margin-bottom {
    margin-bottom: 0;
}

.default-layout .no-padding-bottom {
    padding-bottom: 0;
}

.default-layout .text-right {
    text-align: right;
}

@media all and (min-width: 2100px) {
    .default-layout .album-list {
        max-width: 2101px;
    }
}

@media all and (min-width: 1800px) and (max-width: 2099px) {
    .default-layout .album-list {
        max-width: 1801px;
    }
}

@media all and (min-width: 1500px) and (max-width: 1799px) {
    .default-layout .album-list {
        max-width: 1501px;
    }
}

@media all and (min-width: 1200px) and (max-width: 1499px) {
    .default-layout .album-list {
        max-width: 1201px;
    }
}

@media all and (min-width: 900px) and (max-width: 1199px) {
    .default-layout .album-list {
        max-width: 901px;
    }
}

@media all and (min-width: 600px) and (max-width: 899px) {
    .default-layout .album-list {
        max-width: 601px;
    }
}
